<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title> <!-- Dynamic title -->
    <link rel="stylesheet" type="text/css" href="/Home/styles.css"> 
</head>
<body >
<div class="header">
    <div class="header-logo">
        <h1>Welcome to <%= title %></h1>
    </div>
</div>
</header>
</body>
</html>
