<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="styles.css"> 
</head>
<body>

    <%- body %> <!-- This line will inject the content of your views -->
  <section>
<div class="section1">
    <div >
    <div class="grid-container">
        <div class="box">
            <a href="/"><h2>Home</h2></a>
        </div>        
        <div class="box">
            <a href="/DJ/dj.html"><h2>DJ</h2></a>
        </div>
        <div class="box">
            <a href="/Listener/listener.html"><h2>Listener</h2></a>
        </div>
        <div class="box">
            <a href="/Producer/producer.html"><h2>Producer</h2></a>
        </div>

    </div>  
</div>
</div>
</section>
<footer>
    <div class="footer">
        <h2>&copy; 2023 Pixel Beats</h2>
    </div>

</footer>
</body>
</html>
